@model RpgMvc.Models.PersonagemViewModel;

@{
    ViewBag.Title = "Teste";
}
<h1>Realizando a implantação de lista</h1>

@using(Html.BeginForm("GetAll", "Personagens", FormMethod.Get))
{
    <table class="table">
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    @Model.Nome;
                </td>
            </tr>
        }
    </table>
}

